@import '../../../assets/styles/variables';

.lookupBase {
	font-family: $source-sans;
	padding: 0;
	.toolbar {
		height: 60px;
		background-color: $color-med-slate;
		margin: 0;
		.searchText {
			display: inline-block;
			width: 215px;
			height: 35px;
			line-height: 33px;
			border: 1px solid $color-dark-gray-border;
			background-color: $color-dark-slate;
			border-radius: 6px;
			color: $color-light-gray;
			margin-right: 10px;
			margin-top: 12px;
		}
		button {
			display: inline-block;
			height: 35px;
			line-height: 33px;
			border: 1px solid $color-dark-gray-border;
			background-color: $color-dark-slate;
			color: $color-light-gray;
			border-radius: 6px;
			padding: 1px 6px;
			margin-top: 2px;
		}
		label {
			display: inline-block;
			line-height: 60px;
			margin-right: 10px;
			color: $color-light-gray;
		}
		select {
			display: inline-block;
			height: 35px;
			line-height: 33px;
			border: 1px solid $color-dark-gray-border;
			background-color: $color-dark-slate;
			color: $color-light-gray;
			border-radius: 6px;
			padding: 1px 6px;
			margin-top: 2px;
			min-width: 160px;
		}
	}
	.table-base {
		margin: 0;
		padding: 0;
		background-color: $color-med-slate;
		& > div {
			padding: 0;
		}
	}
	table {
		border-style: none;
		th {
			color: $color-med-slate;
			background-color: $color-table-header;
			border-style: none;
			font-weight: $weight-normal;
			border-style: none;
		}
		td {
			border-style: none none solid none;
			border-width: 1px;
			border-color: $color-med-light-slate;
			color: $color-light-gray;
			font-size: 12px;
			line-height: 48px; 
			padding: 0 12px;
			font-weight: $weight-light;
			a {
				display: inline-block;
				background-color: $color-dark-slate;
				border: 1px solid $color-dark-gray-border;
				border-radius: 6px;
				font-family: 'FontAwesome';
				color: $color-light-gray;
				font-size: 18px;
				padding: 0 8px;
				cursor: pointer;
				text-decoration: none;
				line-height: 30px;
				padding: 0 12px;
			}
		}
	}
}