@import '../../../assets/styles/variables';
@import '../../app.component.scss';

$header-height: 60px;

.transfer-title {
  background-color: $color-med-slate;
  padding-bottom: 20px;

  .ui-dialog {
    @extend .kpmg-ui-dialog;
    min-width: 500px;
    min-height: 625px;
  }
}

.breadcrumbs {
	font-weight: $weight-semibold;
	color: $color-light-gray;

  .fa {
    font-weight: $weight-bold;
    margin-right: 15px;
  }
}

.btn {
  @extend .kpmg-btn;
}

.btn:hover {
  @extend .kpmg-btn:hover;
}

.btn-primary {
  @extend .kpmg-btn-primary;
}

.btn-secondary {
  @extend .kpmg-btn-secondary;
  .fa {
    margin-right: 0;
  }
}


.transfer-header {
  display: table;
  color: $color-med-light-gray;

  img {
    margin: 0 15px;
  }

  .vehicle-info {
    display: table-cell;
    vertical-align:bottom;
    bottom: 0;
    padding-right: 15px;
  }
}

.transfer-details {
  margin-top: 15px;
  h3 {
    font-weight: $weight-light;
    font-size: 24px;
    color: $color-white;
  }

  .transfer-info {
    background-color: $color-med-slate;
    border: 1px solid #374a5e;
    border-radius: 6px;
    padding-left: 15px;
    padding-top: 15px;
    color: $color-med-light-gray;
    padding-bottom: 15px;
    min-height: 436px;

    label {
      font-size: 12px;
      margin-bottom: 0;
    }

    .btn.btn-secondary.create-license {
      padding: 0 5px;
    }

    .driver-license {
      max-width: 107px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .input-group-addon {
      line-height: .25;
      background-color: $color-dark-slate;
    }

    ::-webkit-input-placeholder,
    ::-moz-placeholder,
    :-ms-input-placeholder,
    :-moz-placeholder { /* Firefox 18- */
      color: $color-med-light-gray;
    }

    input, select {
      @extend .form-input;
    }

    input:hover {
      @extend .form-input-hover;
    }

    input:focus {
      @extend .form-input-focus;
    }

    .odometer-field {
      max-width: 200px;
    }

    #transfer-to-spacer {
      height: 160px;
    }
  }
}
