<div class="transfer-title">
<div class="container-fluid detailComponentBase">
	<div class="row breadcrumbs">
    <!-- wire up click handler to nav back -->
		<div class="col-md-12"> <i class="fa fa-angle-left"></i>Vehicle Lookup / Details / Transfer Title</div>
	</div>
  <div class="row transfer-header">
		<img src="assets/images/vehicles/370z-car.png"
			   class="img-responsive"/>
    <span class="vehicle-info">VIN: {{vehicleDetails.VIN}}</span>
    <span class="vehicle-info">Make: {{vehicleDetails.make}}</span>
    <span class="vehicle-info">Model: {{vehicleDetails.model}}</span>
    <span class="vehicle-info">Model Year: {{vehicleDetails.year}} </span>
    <span class="vehicle-info">Color: {{vehicleDetails.colour}}</span>
  </div>
  <div class="row transfer-details">
    <div class="col-md-6">
      <h3>Current Owner</h3>
      <div class="transfer-info">
        <label>Seller's or Leasee's Last Name (or) Company Name</label>
        <p>Fulton Auto Center</p>

        <label>Seller's or Leasee's Address</label>
        <p>1415 Fulton Avenue Sacramento, CA 95864</p>

        <label>Vehicle License or CF Number</label>
        <p> {{ vehicleDetails.license }} </p>

        <div class="row">
          <div class="col-sm-9">
            <div class="row">
              <div class="col-6 col-sm-6">
                <label>Smog Test</label>
                <p>PASS</p>
              </div>
              <div class="col-6 col-sm-6">
                <label>Energy Tax Act</label>
                <p>Exempt</p>
              </div>
            </div>
          </div>
        </div>

        <label>Odometer Reading (No Tenths)</label>
        <p><input type="text"  class="form-control odometer-field"></p>

        <div class="row">
          <div class="col-sm-9">
            <div class="row">
              <div class="col-6 col-sm-6">
                <label>Selling Price (No Cents)</label>
                <p><input type="text"  class="form-control"></p>
              </div>
              <div class="col-6 col-sm-6">
                <label>Date of Sale</label>

									<div class="input-group">
								    <input type="text"  class="form-control">
									</div>

              </div>
            </div>
          </div>
        </div>
				<em>If vehicle is a gift, enter 0 for the selling price</em>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Transfer to</h3>
      <div class="transfer-info">
        <label>License Number</label>
				<div class="input-group">
		      <input type="text" class="form-control driver-license"
					       [(ngModel)]="transferLicenseNum">
		      <span class="input-group-btn">
		        <button class="btn btn-secondary create-license"
										title="Create new license number."
										(click)="generateLicense()">
							<i class="fa fa-plus-square-o"></i>
						</button>
		      </span>
		    </div>

        <label>New Owner's Name (or) Company Name</label>
        <div class="row">
          <div class="col-sm-10">
            <div class="row">
              <div class="col-4 col-sm-5">
                <input type="text"
								       placeholder="First Name"
											 class="form-control">
              </div>
              <div class="col-4 col-sm-2">
                <input type="text"
								       class="form-control"
											 placeholder="MI">
              </div>
              <div class="col-4 col-sm-5">
                <input type="text"
								       class="form-control"
											 placeholder="Last Name">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-10">
            <div class="row">
              <div class="col-4 col-sm-5">
                <label>City</label>
                <input type="text" class="form-control">
              </div>
              <div class="col-4 col-sm-4">
                <label>State</label>
                <select class="form-control">
                  <option>California</option>
                </select>
              </div>
              <div class="col-4 col-sm-3">
                <label>Zip</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>
				<!--
				generate license number button
				driver licence info
				owner placeholder text -->
				<p id="transfer-to-spacer"></p>
        <button class="btn btn-secondary">Cancel</button>
				<button class="btn btn-primary"
				        (click)="showTransferDialog()">Register</button>
      </div>
    </div>
  </div>
</div>

<!-- transfer dialog -->
<p-dialog header="Transfering title..."
          [(visible)]="isDisplayTransferDialog">
    <app-vehicle-transfer-status></app-vehicle-transfer-status>
</p-dialog>

</div>
