<div class="container-fluid detailComponentBase">
	<div class="row breadcrumbs">
		<div class="col-md-12">
			<a href="/vehicleLookup">
				<i class="fa fa-chevron-left" aria-hidden="true"></i> Vehicle Lookup / Details
			</a>
		</div>
	</div>
	<div class="row justify-content-center history-toggle">
		<i class="fa {{ historyToggleClassname }}"
		   title="{{ historyToggleTitle }}"
			 (click)="toggleHistory()"></i>
	</div>
	<div class="row historyBase" *ngIf="isHideHistory">
		<div class="col-md-12">
			<div class="historySliderBase">
				<div class="historySlider">
					<img src="assets/images/title-history.png"
					     class="img-responsive"/>
				</div>
			</div>
		</div>
	</div>
	<div class="row toolbar">
		<div class="col-md-6 subnavigation">
			<a [class.active]="statsVisible" (click)="showStats()">Vehicle Stats</a>
			<a [class.active]="!statsVisible" (click) = "showDetails()">Registration Details</a></div>
		<div class="col-md-6 transfer">
			<button class="btn btn-primary" (click)="initTransfer();">Initiate Transfer / Update</button>
		</div>
	</div>
	<div class="row statisticsBase" [hidden]="!statsVisible">
		<div class="col-md-12 statisticsContents">
			<div class="row graphicStats">
				<div class="col-md-3"><div class="graphicStatsContent"><h5>Smog Check</h5><h4>Exp. 10/12/2017</h4></div></div>
				<div class="col-md-3"><div class="graphicStatsContent"><h5>Tags</h5><h4>Exp. 12/10/2017</h4></div></div>
				<div class="col-md-3"><div class="graphicStatsContent"><h5>Insurance</h5><h4>Exp. 12/10/2017</h4></div></div>
				<div class="col-md-3"><div class="graphicStatsContent"><h5>Violations</h5><h4>No Violations</h4></div></div>
			</div>
			<div class="row">
				<div class="col-md-6"><h3>VEHICLE DESCRIPTION</h3></div>
				<div class="col-md-6">
					<div class="table-responsive">
						<table class="table">
							<tr>
								<th>VIN</th><td></td>
							</tr>
							<tr>
								<th>Make</th><td></td>
							</tr>
							<tr>
								<th>Model</th><td></td>
							</tr>
							<tr>
								<th>Model Year</th><td></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"><h3>REGISTRATION</h3></div>
				<div class="col-md-6">
					<div class="table-responsive">
						<table class="table">
							<tr>
								<th>Registered Owner</th><td></td>
							</tr>
							<tr>
								<th>Residence</th><td></td>
							</tr>
							<tr>
								<th>Mailing Address</th><td></td>
							</tr>
							<tr>
								<th>License Card ID</th><td></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row registrationBase" [hidden]="statsVisible">
		<div class="col-md-12 registrationContents">

			<h2>Current Title Information</h2>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>STATE</th>
							<th>ISSUE DATE</th>
							<th>ODOMETER</th>
							<th>ACTUAL MILEAGE</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ details.state }}</td>
							<td></td>
							<td></td>
							<td>{{ details.odometerreading }}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<h2>Historical Title Information</h2>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>STATE</th>
							<th>ISSUE DATE</th>
							<th>ODOMETER</th>
							<th>ACTUAL MILEAGE</th>
						</tr>
					</thead>
					<tbody>
						<tr></tr>
					</tbody>
				</table>
			</div>

			<h2>Junk &amp; Salvage Information</h2>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>REPORTING OCCURRENCE</th>
							<th>REPORTING ENTITY</th>
							<th>DATE OBTAINED</th>
							<th>VEHICLE INTENDED FOR EXPORT?</th>
							<th>DISPOSITION</th>
						</tr>
					</thead>
					<tbody>
						<tr></tr>
					</tbody>
				</table>
			</div>

			<h2>Lien Information</h2>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>BANK/FINANCE COMPANY OR INDIVIDUAL</th>
							<th>ELECTRONIC LIENHOLDER ID NO.</th>
							<th>BUSINESS ADDRESS</th>
							<th>MAILING ADDRESS</th>
						</tr>
					</thead>
					<tbody>
						<tr></tr>
					</tbody>
				</table>
			</div>

			<h2>Owner Information</h2>
			<div class="table-responsive">

				<table class="table">
					<thead>
						<tr>
							<th>FULL NAME</th>
							<th>DRIVER LICENSE/ID CARD NUMBER</th>
							<th>STATE</th>
							<th>RESIDENCE</th>
						</tr>
					</thead>
					<tbody>
						<tr></tr>
					</tbody>
				</table>
			</div>

			<h2>Detailed Vehicle Information</h2>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th colspan="4">STANDARD DATA</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Body Type</th>
							<td></td>
							<th>Manufactured</th>
							<td></td>
						</tr>
						<tr>
							<th>Drive Line</th>
							<td></td>
							<th>Engine Type</th>
							<td></td>
						</tr>
						<tr>
							<th>Fuel Type</th>
							<td></td>
							<th>Make</th>
							<td></td>
						</tr>
						<tr>
							<th>Model</th>
							<td></td>
							<th>Corporation</th>
							<td></td>
						</tr>
						<tr>
							<th>Model Year</th>
							<td></td>
							<th>Production Seq. No.</th>
							<td></td>
						</tr>
						<tr>
							<th>Trim Level</th>
							<td></td>
							<th>Type of Vehicle</th>
							<td></td>
						</tr>
					</tbody>
					<thead>
						<tr>
							<th colspan="4">DIMENSIONS</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Base Curb Weight (lbs)</th>
							<td></td>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th>Height (in)</th>
							<td></td>
							<th></th>
							<td></td>
						</tr>
						<tr>
							<th>Width (in)</th>
							<td></td>
							<th></th>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
</div>
